  body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);

    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  }
  h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: black;

  }
  p, li, ul {
    font-family: verdana;
    color: black;
    text-align: center;
  }
  
  .col-3 { 
      text-align: left;
      padding: 1em;
      position: fixed;    
  }

  .col-9, .col-4, .col-12, .col-11 {
      padding: 1em;
      color: green;
      border: #cdcdcd medium solid;
      border-radius: 1px;
  }

  html * {
    font-family: "Lucida Console" !important;
  }

  .accordion > .card > .card-header {
    background: black;
  }

  .card-body {
    background: black;
  }

  section {
    height: 70vh;
  }

  .img-thumnail {
    margin-left: auto;
    margin-right: auto;
  }