  body {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    font-family: "League Spartan", sans-serif;
  }

  
  h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: black;

  }
  p, li, ul {
    color: black;
    text-align: center;
  }
  
  .col-3 { 
      text-align: left;
      padding: 1em;
      position: fixed;  
      font-family: "League Spartan", sans-serif;
      font-optical-sizing: auto;
      font-weight:900;
      font-style: normal;  
  }

  .col-9, .col-4, .col-12, .col-11 {
      padding: 1em;
      color: green;
      border: #cdcdcd medium solid;
      border-radius: 1px;
      font-family: "League Spartan", sans-serif;
  }

  .accordion > .card > .card-header {
    background: black;
  }

  .card-body {
    background: black;
  }

  section {
    height: 70vh;
  }

  .img-thumnail {
    margin-left: auto;
    margin-right: auto;
  }